# Criar

In [ ]:
# Criar
nome_1 = "Mauricio"
nome_2 = 'Vitoria'
nome_varias_linhas = """
    Mauricio
    Rocha
    """

# Concatenar

In [ ]:
nome_1 = "Mauricio"
nome_2 = 'Vitoria'
concat = nome_1 + " e " + nome_2
concat

'Mauricio e Vitoria'

# Tamanho

In [ ]:
nome = "Mauricio"
print(len(nome))

8

# Indexação

In [ ]:
nome = "Mauricio"

primeiro_caract = nome[0]
ultimo_caract = nome[-1]

for x in nome:
    print(x)

M
a
u
r
i
c
i
o

# Slice

In [ ]:
nome = "Mauricio"
print(nome[2:5]) # pos 2 incluso, pos 5 nao incluso
print(nome[:5])
print(nome[2:])
print(nome[-3:]) # ultimos 3

uri
Mauri
uricio
cio

# Alterar

In [ ]:
# jeito 1
nome = "Mauricio"
lista = list(nome)
lista[0] = "X"
nome = "".join(lista)
print(nome)

# jeito 2
nome = "Mauricio"
nome = nome[:0] + 'X' + nome[1:]
print(nome)

Xauricio
Xauricio

# Métodos - [Referencia W3schools](https://www.w3schools.com/python/python_ref_string.asp)

In [ ]:
nome = "Mauricio"
idade = 31
pais = " Brasil "
linguagens_str = "Python C# Javascript"
frutas_lst = ["Banana", "Kiwi", "Morango"]

print(nome.upper())
print(nome.lower())
print(nome.replace('i', 'x'))
print(pais.strip()) # remove espacos ini e fim
print()

print(str(idade).zfill(4)) # preenche com zeros no ini
print()

print(linguagens_str.split(' '))
print(' '.join(frutas_lst))
print()

MAURICIO
mauricio
Maurxcxo
Brasil

0031

['Python', 'C#', 'Javascript']
Banana Kiwi Morango

# Diversos

In [ ]:
nome = "Mauricio"

# Unidecode a partir de caractere
print(ord("A"))

# String a partir de Unicode
print(chr(66))

# Testar string
print("a" in nome)
print("a" not in nome)
print("amor" < "batata")
print("amor" == "batata")

65
B
True
False
True
False