# Classificação de sementes de trigo: sementes.csv

- A partir de informações como a área e o perímetro, o objetivo é estimar a espécie de uma semente.
- A semente pode ser da espécie 0, 1 ou 2.
- Fonte: https://www.alura.com.br/artigos/primeiros-passos-com-pytorch?_gl=1*13qj1cr*_ga*NzM0OTAwMzEwLjE2ODk2NDUzNTc.*_ga_59FP0KYKSM*MTY4OTk4OTU0Ny4yNC4wLjE2ODk5ODk1NDcuMC4wLjA.*_fplc*MjFFMHUxT1pXc29STkNnOENzS3h6WCUyRkszbjc2eGczd2VZdWRHTWhueFF1NzRUTmx0T05maXpVeEIzdFlsSE1ySGJ5SDlQdjh5clZhOE02NVpTdSUyRlVNJTJCTDJveXJUNzdtUHU4T0IzSjNENVdmZFFOSWtLeXdSayUyQkl0TnZQOUElM0QlM0Q.

In [ ]:
import pandas as pd

dados = pd.read_csv('/content/drive/MyDrive/datasets/sementes.csv')
dados.head()

,Área,Perímetro,Compacidade,Comprimento,Largura,Assimetria,Comprimento do sulco,Espécie
0,15.26,14.84,871.000,5.763,3.312,2.221,5.220,0
1,14.88,14.57,8.811,5.554,3.333,1.018,4.956,0
2,14.29,14.09,905.000,5.291,3.337,2.699,4.825,0
3,13.84,13.94,8.955,5.324,3.379,2.259,4.805,0
4,16.14,14.99,9.034,5.658,3.562,1.355,5.175,0

- É comum chamarmos as colunas que contém as informações de entrada de X.
- Já a coluna que é nosso alvo de identificação chamamos de y.

In [ ]:
X = dados.drop(['Espécie'],axis=1).values
y = dados['Espécie'].values

In [ ]:
from sklearn.model_selection import train_test_split

X_treino,X_teste,y_treino,y_teste = train_test_split(X,y,test_size=0.2)

In [ ]:
import torch

X_treino = torch.FloatTensor(X_treino)
X_teste = torch.FloatTensor(X_teste)
y_treino = torch.LongTensor(y_treino)
y_teste = torch.LongTensor(y_teste)

In [ ]:
import torch.nn as nn
import torch.nn.functional as F

In [ ]:
class Modelo(nn.Module):

    def __init__(self,entrada=7,camada_escondida1=14,camada_escondida2=49,saida=3):
        super().__init__()
        self.fc1 = nn.Linear(entrada,camada_escondida1)
        self.fc2 = nn.Linear(camada_escondida1, camada_escondida2)
        self.out = nn.Linear(camada_escondida2, saida)

    def forward(self, x):
        x = F.relu(self.fc1(x))
        x = F.relu(self.fc2(x))
        x = self.out(x)
        return x

In [ ]:
modelo_classificacao = Modelo()
funcao_objetivo = nn.CrossEntropyLoss()
otimizador = torch.optim.Adam(modelo_classificacao.parameters(), lr=0.01)

In [ ]:
epocas = 100
custos = []
for i in range(epocas):
    y_predito = modelo_classificacao.forward(X_treino)
    custo = funcao_objetivo(y_predito, y_treino)
    custos.append(custo)

    otimizador.zero_grad()
    custo.backward()
    otimizador.step()

In [ ]:
preds = []
with torch.no_grad():
    for val in X_teste:
        y_predito = modelo_classificacao.forward(val)
        preds.append(y_predito.argmax().item())
df = pd.DataFrame({'Y': y_teste, 'YHat': preds})
df['Correto'] = [1 if corr == pred else 0 for corr, pred in zip(df['Y'], df['YHat'])]
df

    Y  YHat  Correto
0   1     1        1
1   0     2        0
2   2     2        1
3   2     2        1
4   2     2        1
5   2     2        1
6   2     2        1
7   0     1        0
8   0     0        1
9   0     0        1
10  0     0        1
11  0     0        1
12  1     1        1
13  2     2        1
14  0     0        1
15  2     2        1
16  2     2        1
17  2     2        1
18  2     0        0
19  1     1        1
20  1     1        1
21  2     2        1
22  2     2        1
23  2     2        1
24  0     0        1
25  1     1        1
26  0     0        1
27  0     0        1
28  0     2        0
29  0     0        1
30  0     0        1
31  1     1        1
32  2     2        1
33  2     2        1
34  0     0        1
35  1     1        1
36  2     2        1
37  1     1        1
38  1     1        1
39  0     0        1
40  0     0        1
41  2     2        1

# aa

In [ ]:
import torch

print(torch.version.cuda)

11.8