# Criar

In [ ]:
lista_vazia = []
lista_numeros = [1, 2, 3, 4]
lista_nomes = ["Mauricio", "Vitoria", "Sandra"]

# Construtor
lista_1 = list("minha string")
lista_2 = list((1, 2, 3)) # tupla
lista_3 = list({1, 2, 3}) # conjunto

[1, 2, 3]

# Tamanho

In [ ]:
lista = [1, 2, 3]
print(len(lista))

3

# Indexação

In [ ]:
minha_lista = [1, 2, 3, 4]

print(minha_lista[0])
print(minha_lista[-1])
print(minha_lista[-2])
print()

# Todos Elementos - jeito 1
for x in minha_lista:
    print(x)
print()

# Todos Elementos - jeito 2
for i in range(len(minha_lista)):
    print(minha_lista[i])
print()

# Todos Elementos - jeito 3
[print(x) for x in minha_lista]

# Slice

In [ ]:
minha_lista = [1, 2, 3, 4, 5, 6, 7, 8]

print(minha_lista[2:5])
print(minha_lista[:3])
print(minha_lista[0:3])
print(minha_lista[2:])
print(minha_lista[-2:])
print(minha_lista[-4:-1])

[3, 4, 5]
[1, 2, 3]
[1, 2, 3]
[3, 4, 5, 6, 7, 8]
[7, 8]
[5, 6, 7]

# Alterar

In [ ]:
lista = ["Kiwi", "Banana", "Uva"]
lista[0] = "Morango"
print(lista)
print()

# Slice
lista[1:3] = ["Abacate", "Tomate"]
print(lista)
print()

['Morango', 'Banana', 'Uva']

['Morango', 'Abacate', 'Tomate']

# Inserir

In [ ]:
lista = ['Mauricio']

lista.append('Vitoria')
lista.insert(0, 'Sandra')
lista.insert(1, 'Savanah')
print(lista)
print()

lista_2 = ["Jacqueline"] # ou tupla
lista.extend(lista_2)
print(lista)
print()

['Sandra', 'Savanah', 'Mauricio', 'Vitoria']

['Sandra', 'Savanah', 'Mauricio', 'Vitoria', 'Jacqueline']

# Remover

In [ ]:
lista = ['Mauricio', 'Tesla', 'Newton', 'Turing']

lista.remove('Tesla')
print(lista)
print()

print(lista.pop(2))
print(lista.pop(-1))

# limpar
lista.clear()

# itens duplicados
lista = ['Mauricio', 'Tesla', 'Newton', "Newton"]
conj = set(lista)
lista = list(conj)
print(lista)
print()

['Mauricio', 'Newton', 'Turing']

Turing
Newton
['Mauricio', 'Tesla', 'Newton']

# Ordenar

In [ ]:
lista = ['Mauricio', 'Tesla', 'newton', 'Turing']
lista_int = [100, 50, 65, 82, 23]

lista.sort()
print(lista)
print()

# ordem case INsensitive
lista.sort(key = str.lower)
print(lista)
print()

# ordem decrescente
lista_int.sort(reverse = True)
print(lista_int)
print()

# ordem inversa
lista_int.reverse()
print(lista_int)
print()

# baseado em proximidade para 50
def myFunction(n):
    return abs(n - 50)
lista_int.sort(key = myFunction)
print(lista_int)
print()

# Copiar / Juntar

In [ ]:
lista_1 = ['Mauricio', 'Tesla']
lista_2 = ['Newton', 'Vitoria']

# Copiar - jeito 1
lista_cpy = lista.copy() # ou lista_cpy = list(lista)

# Copiar - jeito 2
lista_cpy = [x for x in lista]

# Juntar - jeito 1
lista_juncao = lista_1 + lista_2
print(lista_juncao)
print()

# Juntar - jeito 2
lista_1.extend(lista_2)
print(lista_1)
print()

# Juntar - jeito 3
lista_1 = ['Mauricio', 'Tesla']
for item in lista_2:
    lista_1.append(item)
print(lista_1)
print()

# Juntar - em uma String
print(' '.join(lista_1))
print()

['Mauricio', 'Tesla', 'Newton', 'Vitoria']

['Mauricio', 'Tesla', 'Newton', 'Vitoria']

['Mauricio', 'Tesla', 'Newton', 'Vitoria']

Mauricio Tesla Newton Vitoria

# List Comprehension

In [ ]:
lista = ["banana", "morango", "laranja"]

# Copiar
lista_cpy = [x for x in lista]
print(lista_cpy)
print()

# Tornar Maiúsculo
lista_maiusc = [x.upper() for x in lista]
print(lista_maiusc)
print()

# Criar lista a partir de range
lista_range = [x for x in range(1, 6)]
print(lista_range)
print()

# Criar lista a partir de outra eliminando algum item
lista_2 = [x for x in lista if x != "laranja"]
print(lista_2)
print()

# Criar lista a partir de outra eliminando itens com a letra 'o'
lista_3 = [x for x in lista if 'o' not in x]
print(lista_3)
print()

# Criar lista a partir de outra alterando algum item
lista_3 = [x if x != "banana" else "Banana" for x in lista ]
print(lista_3)
print()

['banana', 'morango', 'laranja']

['BANANA', 'MORANGO', 'LARANJA']

[1, 2, 3, 4, 5]

['banana', 'morango']

['banana', 'laranja']

['Banana', 'morango', 'laranja']

# Métodos - [Referência W3schools](https://www.w3schools.com/python/python_ref_list.asp)

In [ ]:
lista = [0, 1, 2, 3, 3]

# Numeros
print(sum(lista))
print(max(lista))
print(min(lista))
print(len(lista))
print()

# Contar repetidos
print(lista.count(3))
print()

# Obter indice elem
print(lista.index(3))
print()

9
3
0
5

2

3

# Diversos

In [ ]:
lista = [0, 1, 2, 3]

# Testar
print(0 in lista)

6
3
0
4

True